body {
  background-color: #ED1D24;
  color: white;
  display: flex;
  justify-content: center;
}

#container{
  height: 95vh;
  width: 80vw;
  border: 6px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-family: sans-serif;
  font-size: 100px;
  padding: 10px;
}

p {
  font-size: 24px;
}

#xmen {
  visibility: hidden;
}

#avengers {
  visibility: hidden;
}

#four{
 visibility: hidden;
}